@import 'tailwindcss';
@config "../../tailwind.config.ts";

@theme {
  --font-sans: 'Roboto', system-ui, sans-serif;
  --color-primary-400: #35B6FF;
}

body {
  @apply font-sans bg-surface-50 text-surface-900;
}
